In [1]:
# 1. Import libraries
import pandas as pd

In [2]:
file_path = "us_house_Sales_data.csv"
df = pd.read_csv(file_path)

df.shape

(3000, 16)

In [3]:
df.head()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
0,"$554,217","5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1 bds,3 ba,772 sqft,4757 sqft,1959,101,Townhouse,Z104635,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/80374762_zpid/
1,"$164,454","9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1 bds,1 ba,2348 sqft,3615 sqft,1969,46,Apartment,Z535721,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/86143665_zpid/
2,"$1,249,331","8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6 bds,1 ba,3630 sqft,9369 sqft,1990,59,Townhouse,Z900458,Mike Lee - Coldwell Banker,For Sale,https://www.zillow.com/homedetails/37082403_zpid/
3,"$189,267","232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2 bds,1 ba,605 sqft,8804 sqft,1958,119,Apartment,Z318589,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/39318132_zpid/
4,"$465,778","5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3 bds,2 ba,1711 sqft,9260 sqft,2020,26,Townhouse,Z899716,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/22454634_zpid/

In [4]:
df.columns

Index(['Price', 'Address', 'City', 'Zipcode', 'State', 'Bedrooms', 'Bathrooms',
       'Area (Sqft)', 'Lot Size', 'Year Built', 'Days on Market',
       'Property Type', 'MLS ID', 'Listing Agent', 'Status', 'Listing URL'],
      dtype='str')

In [5]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           3000 non-null   str
 1   Address         3000 non-null   str
 2   City            3000 non-null   str
 3   Zipcode         3000 non-null   int64
 4   State           3000 non-null   str
 5   Bedrooms        3000 non-null   str
 6   Bathrooms       3000 non-null   str
 7   Area (Sqft)     3000 non-null   str
 8   Lot Size        3000 non-null   str
 9   Year Built      3000 non-null   int64
 10  Days on Market  3000 non-null   int64
 11  Property Type   3000 non-null   str
 12  MLS ID          3000 non-null   str
 13  Listing Agent   3000 non-null   str
 14  Status          3000 non-null   str
 15  Listing URL     3000 non-null   str
dtypes: int64(3), str(13)
memory usage: 375.1 KB

In [6]:
df.describe()

            Zipcode   Year Built  Days on Market
count   3000.000000  3000.000000     3000.000000
mean   55264.197333  1986.814333       61.199333
std    25923.967932    21.272252       34.890983
min    10006.000000  1950.000000        1.000000
25%    33363.500000  1968.000000       31.000000
50%    55467.500000  1987.000000       62.000000
75%    77692.250000  2006.000000       91.000000
max    99955.000000  2023.000000      120.000000